@import url('./fonts.css');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

p,
h1 {
  margin: 0;
}
