.map {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0%;
  z-index: -1;
}

.map::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: radial-gradient(circle, rgba(16,16, 18, 0),rgba(16,16, 18, .88));
}
